@model MyProject.Models.Language

<div class="card">
    <h5 class="card-header">@Model.Name</h5>

    <div class="card-body">
        @if (User.IsInRole("admin"))
        {
            <a asp-controller="Language" asp-action="DeleteLanguage" asp-route-id="@Model.Id"
               class="btn btn-danger">
                Удалить словарь
            </a>
        }
        <a asp-controller="Language" asp-action="CreateWord" asp-route-languageId="@Model.Id" class="btn btn-info">
            Добавить слово
        </a>

        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var word in Model.Words)
                {
                    <li class="list-group-item">
                        @word.Original - @word.Translations[0].Term
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Language" asp-action="DeleteWord" asp-route-wordId="@word.Id"
                                class="btn btn-sm btn-danger">
                                Удалить
                            </a>
                        }
                        @if (Model.Collections != null)
                        {
                            <a asp-controller="Collection" asp-action="AddWord" asp-route-id="@word.Id"
                               asp-route-collectionId="@Model.Collections[0].Id" class="btn btn-sm btn-info">
                                Добавить
                            </a>
                        }

                    </li>
                }
            </ul>
        </div>
    </div>
</div>
