@model MyProject.Models.Vocabulary

<div>
    <p>@Model.Name</p>
    <a asp-controller="Vocabulary" asp-action="DeleteVocabulary" asp-route-id="@Model.Id"
       class="btn btn-sm btn-danger">
        Удалить словарь
    </a>
    <a asp-controller="Vocabulary" asp-action="CreateWord" asp-route-vocabularyId="@Model.Id" class="btn btn-info">
        Добавить слово
    </a>
    <ul>
        @foreach (var word in Model.Words)
        {
            <li>
                @word.Original - @word.Translations[0].Word
                <a asp-controller="Vocabulary" asp-action="DeleteWord" asp-route-wordId="@word.Id"
                   asp-route-vocabularyId="@Model.Id" class="btn btn-sm btn-danger">
                    Удалить слово
                </a>
            </li>
        }
    </ul>
</div>
