@model MyProject.Models.Dictionary

<div class="card">
    <h5 class="card-header">@Model.Name</h5>

    <div class="card-body">
        @if (User.IsInRole("admin"))
        {
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteDictionary">
                Удалить словарь
            </button>
        }
        <a asp-controller="Dictionary" asp-action="CreateWord" asp-route-dictionaryId="@Model.Id" class="btn btn-info">
            Добавить слово
        </a>

        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var word in Model.Words)
                {
                    <li class="list-group-item">
                        @word.Id - @word.Original - @word.Translation
                        @if (User.IsInRole("admin"))
                        {
                            <a asp-controller="Dictionary" asp-action="EditWord"
                               asp-route-wordId="@word.Id" class="btn btn-sm btn-warning">
                                Редактировать
                            </a>
                            <a asp-controller="Dictionary" asp-action="DeleteWord"
                               asp-route-wordId="@word.Id" class="btn btn-sm btn-danger">
                                Удалить
                            </a>
                        }
                        @if (Model.Collections != null)
                        {
                            <a asp-controller="Collection" asp-action="AddWord" asp-route-id="@word.Id"
                               asp-route-collectionId="@Model.Collections[0].Id" class="btn btn-sm btn-info">
                                Добавить
                            </a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteDictionary" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление словаря</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить этот словарь?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <a asp-controller="Dictionary" asp-action="DeleteDictionary" asp-route-id="@Model.Id"
                   class="btn btn-danger">
                    Удалить
                </a>
            </div>
        </div>
    </div>
</div>
