@model MyProject.ViewModels.AddRevisionWordViewModel

<div class="card">
    <h5 class="card-header">@Model.DictionaryName</h5>

    <div class="card-body">
        <a asp-controller="Collection" asp-action="CreateWordForRevision" asp-route-collectionId="@Model.CollectionId"
           class="btn btn-info">
            Создать слово
        </a>
        <a asp-controller="Collection" asp-action="ShowCollection" asp-route-id="@Model.CollectionId"
           class="btn btn-info">
            Вернуться к коллекции
        </a>

        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="width: 30%">Оригинал</th>
                        <th scope="col" style="width: 60%">Перевод</th>
                        <th scope="col" style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var word in Model.Words)
                    {
                        <tr>
                            <td>@word.Original</td>
                            <td>@word.Translation</td>
                            <td>
                                <a asp-controller="Collection" asp-action="AddRevisionWord" asp-route-id="@word.Id"
                                   asp-route-collectionId="@Model.CollectionId" class="btn btn-sm btn-info">
                                    Добавить
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

