@model MyProject.Models.Collection

<div class="card">
    <h5 class="card-header">@Model.Name</h5>
    <div class="card-body">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteCollection">
            Удалить коллекцию
        </button>
        <a asp-controller="Collection" asp-action="ShowWordsForAdding" asp-route-dictionaryId="@Model.DictionaryId"
           asp-route-collectionId="@Model.Id"
           class="btn btn-info">
            Добавить слово
        </a>
        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var word in Model.RevisionWords)
                {
                    <li class="list-group-item">
                        @word.Word.Original - @word.Word.Translation
                        <button type="button" class="btn btn-sm btn-danger" data-toggle="modal"
                                data-target="#deleteRevisionWord">
                            Удалить
                        </button>

                        <div class="modal fade" id="deleteRevisionWord" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Удаление слова</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Вы уверены, что хотите удалить это слово?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Отмена
                                        </button>
                                        <a asp-controller="Collection" asp-action="DeleteRevisionWord"
                                           asp-route-wordId="@word.Id" asp-route-collectionId="@Model.Id"
                                           class="btn btn-danger">
                                            Удалить
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </li>


                }
            </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteCollection" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Удаление коллекции</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить эту коллекцию?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <a asp-controller="Collection" asp-action="DeleteCollection" asp-route-id="@Model.Id"
                   class="btn btn-danger">
                    Удалить
                </a>
            </div>
        </div>
    </div>
</div>


