@model MyProject.ViewModels.AddRevisionWordViewModel

<div class="card">
    <h5 class="card-header">@Model.DictionaryName</h5>

    <div class="card-body">
        <a asp-controller="Collection" asp-action="CreateWordForRevision" asp-route-collectionId="@Model.CollectionId"
           class="btn btn-info">
            Создать слово
        </a>
        <a asp-controller="Collection" asp-action="ShowCollection" asp-route-id="@Model.CollectionId"
           class="btn btn-info">
            Вернуться к коллекции
        </a>

        <div class="card">
            <ul class="list-group list-group-flush">
                @foreach (var word in Model.Words)
                {
                    <li class="list-group-item list-group-item-action">
                        @word.Original - @word.Translation
                        <a asp-controller="Collection" asp-action="AddRevisionWord" asp-route-id="@word.Id"
                           asp-route-collectionId="@Model.CollectionId" class="btn btn-sm btn-info">
                            Добавить
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

